<h1>The Piece of Art being Portrayed: <%= @artwork.title %></h1>

<h3>The Artist: <%= @artwork.artist %></h3>

<p><%= link_to "Edit the Piece of Art", edit_museum_artwork_path(@artwork.museum_id, @artwork) %></p>
<p><%= link_to "Go back to Museum", museum_path(@artwork.museum_id) %></p>
<%= button_to "Delete the Piece of Art", museum_artwork_path(@artwork.museum_id, @artwork), method: :delete %>


